.list-item {
    padding: 3rem 0;
}

.list-item:first-child {
    padding-top: 0;
}

.list-item:last-child {
    padding-bottom: 0;
}

.list-item:not(:last-child) {
    border-bottom: 1px dotted var(--color-grey2);
}

.list-item p {
    margin: 0;
    display: flex;
    align-items: center;
}

.list-item .label {
    margin-right: .5rem;
    padding: 0 .5rem;
    color: var(--color-white);
    font-weight: 700;
    font-size: 1.1rem;
    background: var(--color-grey3);
    border-radius: .3rem;
    text-transform: capitalize;
}

.list-item .arrow {
    height: 3.5rem;
    margin: 0;
    font-size: 2.5rem;
    color: var(--color-grey3);
}

.list-item .btns-container {
    margin-top: .8rem;
    display: flex;
}

.list-item .img-desc-container {
    margin: .8rem 0;
    display: flex;
    align-items: flex-start;
}

.list-item .img-desc-container img {
    width: 12.8rem;
    margin-right: 1rem;
}

.list-item .img-desc-container p {
    width: calc(100% - 13.8rem);
    font-size: 1.2rem;
}

@media screen and (min-width: 501px) {

}