.list-item {
    padding: 3rem 0;
}

.list-item:not(:last-child) {
    border-bottom: 1px dotted var(--color-grey2);
}

.list-item .top {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.list-item .title-author-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list-item .btns-container {
    width: 12.5rem;
    margin-top: .8rem;
    display: flex;
    justify-content: space-between;
}

.list-item .title {
    font-size: 1.5rem;
    font-weight: 500;
}

.list-item .authors {
    font-size: 1.2rem;
    font-weight: 300;
}

.list-item .img-desc-container {
    margin: .8rem 0;
    display: flex;
    align-items: flex-start;
}

.list-item .img-desc-container img {
    width: 12.8rem;
    margin-right: 1rem;
}

.list-item .img-desc-container p {
    width: calc(100% - 13.8rem);
    font-size: 1.2rem;
}

@media screen and (min-width: 501px) {
    .list-item .top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .list-item .title-author-container {
        width: calc(100% - 12.5rem);
    }

    .list-item .btns-container {
        width: 12.5rem;
        margin-top: 0;
    }
}