.form-modal {
    width: 90%;
    max-width: 50rem;
    padding: 3rem;
    background: var(--color-white);
    box-shadow: 0 0 3rem rgba(0, 0, 0, .3);
    position: fixed;
    top: calc(100vh / 2);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    border-radius: 1rem;
    display: block;
}

.form-group {
    width: 100%;
    margin: 2rem 0;
    font-size: 1.5rem;
}

.form-label {
    width: 100%;
    margin-bottom: .5rem;
    display: block;
    font-weight: 500;
    font-size: 1.8rem;
}

.form-input {
    width: 100%;
    padding: .6rem;
    border: 1px solid var(--color-grey2);
    border-radius: .5rem;
    display: block;
}

.btn-form {
    width: 10rem;
    margin: 0 auto;
    padding: 1rem;
    color: var(--color-white);
    border-radius: .5rem;
    transition: background-color .3s;
    cursor: pointer;
    background: var(--color-blue);
    border: 1px solid var(--color-blue-dark);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.btn-form:hover,
.btn-form:focus {
    background-color: var(--color-blue-light1);
    border-color: var(--color-blue);
}

.dark-bg {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .4);
}

.close-btn {
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: 200;
    font-size: 4rem;
    cursor: pointer;
}