/* ========== VARIABLES ========== */
:root {
  --color-green: #34a853;
  --color-green-light1: #54d076;
  --color-green-light2: #d9f0dd;
  --color-yellow-light: #f7e287;
  --color-yellow: #fbbc04;
  --color-red: #ea4235;
  --color-red-dark: #b81b35;
  --color-red-light: #ff5c4f;
  --color-blue: #4184f4;
  --color-blue-light1: #679eff;
  --color-blue-light2: #e9f6fd;
  --color-blue-dark: #3c74d3;
  --color-white: #fff;
  --color-black: #333;
  --color-grey1: #272727;
  --color-grey2: #c1c1c1;
  --color-grey3: #6a6a6a;
  --color-grey-light: #eee;
  --font-heading: 'Abril Fatface', cursive;
  --font-default: 'Poppins', sans-serif;
}

/* ========== COMMON ========== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 50%; /* 8px/16px = 50% -> 1rem = 8px */
}

body {
  font-family: var(--font-default);
  min-height: 100vh;
  line-height: 1.6;
  color: var(--color-black);
  position: relative;
  font-size: 1.6rem;
  font-weight: 300;
  background: var(--color-blue-light2);
}

a {
  text-decoration: none;
  color: var(--color-blue);
}

a:active,
a:visited {
  color: var(--color-blue);
}

a:hover,
a:focus {
  color: var(--color-blue-light1);
}

ul {
  list-style: none;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-blue);
}

.message {
  font-size: 1.5rem;
  margin: 2rem 0;
}



@media screen and (min-width: 601px) {

}

@media screen and (min-width: 801px) {
  html {
    font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px */
  }
}
